.auth {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    margin-bottom: 10px;
  }

  h3 {
    font-size: 12px;
    margin-bottom: 20px;
    color: rgba(100, 100, 100, 0.8);
  }
}
