.profile {
  padding: 20px 0;
  border-bottom: 1px solid rgba(189, 189, 189, 0.404);
}

.info {
  display: flex;
  align-items: center;

  h1 {
    font-size: 24px;
    margin: 0;
  }
}

.user {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.role {
  display: flex;
  align-items: center;
  margin-top: 10px;
  span {
    font-weight: 600;
    margin-left: 10px;
  }

  h3 {
    font-size: 14px;
    margin: 0;
    font-weight: bolder;
  }
}

.teach {
  color: rgb(69, 0, 180);
}

.stud {
  color: rgb(0, 180, 0);
}
