.numbers {
  max-width: 200px;
}

.formItem {
  margin-bottom: 10px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ant-col .ant-col-16 .ant-col-offset-8 .ant-form-item-control {
  margin-left: 0 !important;
}

.tables {
  display: flex;
  justify-content: flex-start;
}

.table {
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 40px;
  grid-row-gap: 5px;
  grid-column-gap: 5px;

  input {
    border: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 5px;
    letter-spacing: 2px;
    text-align: center;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }

  .inputNum {
    font-weight: 500;
    user-select: none;
  }
}

.finishInput {
  input {
    background: rgb(248, 248, 248);
    pointer-events: none;
  }
}

.table2 {
  margin-left: 5px;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 40px;
  grid-row-gap: 5px;
  grid-column-gap: 5px;

  input {
    border: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 5px;
    letter-spacing: 2px;
    text-align: center;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }
}

.tHeader {
  font-weight: 500;
  color: rgb(63, 63, 63);
}

.table2Wraper {
  display: flex;
  flex-direction: column;
}

.tableMath {
  margin-top: 30px;
  max-width: 265px;
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  grid-auto-rows: 40px;
  grid-row-gap: 5px;
  grid-column-gap: 5px;

  input {
    border: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 5px;
    letter-spacing: 2px;
    text-align: center;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }
}
