.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  transition: 1s ease;

  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: larger;
  }
}
