.info {
  user-select: none;
  border-bottom: 1px solid rgba(189, 189, 189, 0.404);
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.point {
  margin-bottom: 10px;
}

.number {
  font-weight: 500;
  margin-right: 5px;
}
